# BANK (EDA and ML)

In [303]:
import pandas as pd
from sklearn.model_selection import train_test_split

bank_df = pd.read_csv("/workspaces/logistic-regression-project-tutorial-pilarzarco/bank-marketing-campaign-data.csv", sep = ";")
bank_df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [304]:
# bank_df.shape

In [305]:
# bank_df.info()

In [306]:
# Eliminar duplicados
bank_df = bank_df.drop_duplicates().reset_index(drop = True)
bank_df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

#### - Análisis de variables univariante

In [307]:
# # Discretizar variables
# bank_df['y'] = bank_df['y'].apply(lambda x: 1 if x == 'yes' else 0)

In [308]:
# # Hacemos el análisis univariante de todas las variables
# import seaborn as sns
# import matplotlib.pyplot as plt

# fig, axis= plt.subplots(2, 3, figsize=(10, 7))

# sns.histplot(ax=axis[0, 0], data=bank_df, x="age", color="yellow")
# sns.histplot(ax=axis[0, 1], data=bank_df, x="job", color="green").set_xticklabels([])
# sns.histplot(ax=axis[0, 2], data=bank_df, x="marital", color="pink").set(ylabel=None)
# sns.histplot(ax=axis[1, 0], data=bank_df, x="education", color="blue").set_xticklabels([])
# sns.histplot(ax=axis[1, 1], data=bank_df, x="default", color="purple").set(ylabel=None)
# sns.histplot(ax=axis[1, 2], data=bank_df, x="housing", color="red").set(ylabel=None)

# plt.tight_layout()
# plt.show()

In [309]:
# fig, axis= plt.subplots(2, 3, figsize=(10, 7))

# sns.histplot(ax=axis[0, 0], data=bank_df, x="loan", color="yellow")
# sns.histplot(ax=axis[0, 1], data=bank_df, x="contact", color="green").set(ylabel=None)
# sns.histplot(ax=axis[0, 2], data=bank_df, x="month", color="pink").set_xticklabels([])
# sns.histplot(ax=axis[1, 0], data=bank_df, x="day_of_week", color="blue")
# sns.histplot(ax=axis[1, 1], data=bank_df, x="duration", color="purple").set(ylabel=None)
# sns.histplot(ax=axis[1, 2], data=bank_df, x="campaign", color="red").set(ylabel=None)

# plt.tight_layout()
# plt.show()

In [310]:
# fig, axis= plt.subplots(2, 3, figsize=(10, 7))

# sns.histplot(ax=axis[0, 0], data=bank_df, x="pdays", color="yellow")
# sns.histplot(ax=axis[0, 1], data=bank_df, x="previous", color="green").set(ylabel=None)
# sns.histplot(ax=axis[0, 2], data=bank_df, x="poutcome", color="pink").set(ylabel=None)
# sns.histplot(ax=axis[1, 0], data=bank_df, x="emp.var.rate", color="blue")
# sns.histplot(ax=axis[1, 1], data=bank_df, x="cons.price.idx", color="purple").set(ylabel=None)
# sns.histplot(ax=axis[1, 2], data=bank_df, x="cons.conf.idx", color="red").set(ylabel=None)

# plt.tight_layout()
# plt.show()

In [311]:
# fig, axis= plt.subplots(2, 2, figsize=(10, 7))

# sns.histplot(ax=axis[0, 0], data=bank_df, x="euribor3m", color="yellow")
# sns.histplot(ax=axis[0, 1], data=bank_df, x="nr.employed", color="green").set(ylabel=None)
# sns.histplot(ax=axis[1, 0], data=bank_df, x="y", color="pink").set(ylabel=None)

# axis[1, 1].remove()

# plt.tight_layout()
# plt.show()

#### - Análisis de variables multivariante

In [312]:
# # Análisis Categórico-categórico
# fig, axis = plt.subplots(3, 2, figsize = (15, 7))

# sns.countplot(ax = axis[0, 0], data = bank_df, x = "job", hue = "education").set_xticklabels([]) 
# sns.countplot(ax = axis[0, 1], data = bank_df, x = "housing", hue = "loan")
# sns.countplot(ax = axis[1, 0], data = bank_df, x = "marital", hue = "housing")
# sns.countplot(ax = axis[1, 1], data = bank_df, x = "marital", hue = "loan")
# sns.countplot(ax = axis[2, 0], data = bank_df, x = "poutcome", hue = "contact")

In [313]:
# # Análisis numérico-numérico
# fig, axis = plt.subplots(4, 2, figsize = (15, 15))


# sns.regplot(ax = axis[0, 0], data = bank_df, x = "age", y = "cons.conf.idx")
# sns.heatmap(bank_df[["age", "cons.conf.idx"]].corr(), annot = True, fmt = ".2f", ax = axis[1, 0], cbar = False)


# sns.regplot(ax = axis[0, 1], data = bank_df, x = "campaign", y = "duration")
# sns.heatmap(bank_df[["campaign", "duration"]].corr(), annot = True, fmt = ".2f", ax = axis[1, 1], cbar = False)


# sns.regplot(ax = axis[2, 0], data = bank_df, x = "campaign", y = "previous")
# sns.heatmap(bank_df[["campaign", "previous"]].corr(), annot = True, fmt = ".2f", ax = axis[3, 0], cbar = False)


# sns.regplot(ax = axis[2, 1], data = bank_df, x = "emp.var.rate", y = "nr.employed")
# sns.heatmap(bank_df[["emp.var.rate", "nr.employed"]].corr(), annot = True, fmt = ".2f", ax = axis[3, 1], cbar = False)


# plt.tight_layout()
# plt.show()

In [314]:

# bank_df["job_n"] = pd.factorize(bank_df["job"])[0]
# bank_df["marital_n"] = pd.factorize(bank_df["marital"])[0]
# bank_df["education_n"] = pd.factorize(bank_df["education"])[0]
# bank_df["default_n"] = pd.factorize(bank_df["default"])[0]
# bank_df["housing_n"] = pd.factorize(bank_df["housing"])[0]
# bank_df["loan_n"] = pd.factorize(bank_df["loan"])[0]
# bank_df["contact_n"] = pd.factorize(bank_df["contact"])[0]
# bank_df["month_n"] = pd.factorize(bank_df["month"])[0]
# bank_df["day_of_week_n"] = pd.factorize(bank_df["day_of_week"])[0]
# bank_df["poutcome_n"] = pd.factorize(bank_df["poutcome"])[0]
# bank_df["y_n"] = pd.factorize(bank_df["y"])[0]

# num_variables = ["job_n", "marital_n", "education_n", "default_n", "housing_n", "loan_n", "contact_n", "month_n", "day_of_week_n", "poutcome_n",
#                  "age", "duration", "campaign", "pdays", "previous", "emp.var.rate", "cons.price.idx", "cons.conf.idx", "euribor3m", "nr.employed", "y_n"]

In [315]:
# # Análisis de correlación categórico-numérico (completo)
# fig, axis = plt.subplots(figsize= (20, 15))

# sns.heatmap(bank_df[["job_n", "marital_n", "education_n", "default_n", "housing_n", "loan_n", "contact_n", "month_n", "day_of_week_n", "poutcome_n",
#                  "age", "duration", "campaign", "pdays", "previous", "emp.var.rate", "cons.price.idx", "cons.conf.idx", "euribor3m", "nr.employed", "y_n"]].corr(), annot=True, cmap="cividis")
# plt.show()

* Tenemos un mapa de calor débil, con pocas correlaciones.
* Podemos decir que hay correlación positiva fuerte entre:
    * La 'tasa de Euribor' y la 'tasa de variación del empleo'.
    * La 'tasa de Euribor' y el 'número de empleados'.
    * La 'tasa de variación del empleo' y 'número de empleados'.
    * El 'Número de contactos realizados durante la campaña anterior al cliente ' y el 'Resultado de la campaña de marketing anterior'.
    * La 'tasa de variación del empleo ' y 'Índice de precios al consumidor'.
* Analizamos la correlación de 'Y', tenemos correlaciones débiles y/o generales:
    * Débil con 'Duración del contacto previo en segundos'
    * General con:
        * 'Tipo de comunicación de contacto'
        * 'Último mes en el que se le ha contactado'
        * 'Número de contactos realizados durante la campaña anterior al cliente'
        * 'Resultado de la campaña de marketing anterior'

#### - Análisis de valores atípicos

In [316]:
# # Análisis descriptivo
# bank_df.describe()

In [317]:
# # Eliminar filas con valor cero en 'duration', 'pdays', 'previous' o 'y'
# bank_df = bank_df[(bank_df['duration'] != 0) & (bank_df['pdays'] != 0) & (bank_df['previous'] != 0) & (bank_df['y'] != 0)]
# print(bank_df[['duration', 'pdays', 'previous', 'y']].describe())

In [318]:
# # Análisis de outliers (Numéricos)
# fig, axis = plt.subplots(4, 3, figsize = (15, 10))

# sns.boxplot(ax = axis[0, 0], data = bank_df, y = "age")
# sns.boxplot(ax = axis[0, 1], data = bank_df, y = "duration")
# sns.boxplot(ax = axis[0, 2], data = bank_df, y = "campaign")
# sns.boxplot(ax = axis[1, 0], data = bank_df, y = "pdays")
# sns.boxplot(ax = axis[1, 1], data = bank_df, y = "previous")
# sns.boxplot(ax = axis[1, 2], data = bank_df, y = "emp.var.rate")
# sns.boxplot(ax = axis[2, 0], data = bank_df, y = "cons.price.idx")
# sns.boxplot(ax = axis[2, 1], data = bank_df, y = "cons.conf.idx")
# sns.boxplot(ax = axis[2, 2], data = bank_df, y = "euribor3m")
# sns.boxplot(ax = axis[3, 0], data = bank_df, y = "nr.employed")

# plt.tight_layout()
# fig.delaxes(axis[3, 1])
# fig.delaxes(axis[3, 2])
# plt.show()

In [319]:
# Análisis de valores faltantes
bank_df.isnull().sum()
bank_df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41171,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41172,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41173,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41174,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41175,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

#### - Dividir en Train y Test

In [323]:
bank_df["job_n"] = pd.factorize(bank_df["job"])[0]
bank_df["marital_n"] = pd.factorize(bank_df["marital"])[0]
bank_df["education_n"] = pd.factorize(bank_df["education"])[0]
bank_df["default_n"] = pd.factorize(bank_df["default"])[0]
bank_df["housing_n"] = pd.factorize(bank_df["housing"])[0]
bank_df["loan_n"] = pd.factorize(bank_df["loan"])[0]
bank_df["contact_n"] = pd.factorize(bank_df["contact"])[0]
bank_df["month_n"] = pd.factorize(bank_df["month"])[0]
bank_df["day_of_week_n"] = pd.factorize(bank_df["day_of_week"])[0]
bank_df["poutcome_n"] = pd.factorize(bank_df["poutcome"])[0]
bank_df["y_n"] = pd.factorize(bank_df["y"])[0]

num_variables_n = ["job_n", "marital_n", "education_n", "default_n", "housing_n", "loan_n", "contact_n", "month_n", "day_of_week_n", "poutcome_n",
                 "age", "duration", "campaign", "pdays", "previous", "emp.var.rate", "cons.price.idx", "cons.conf.idx", "euribor3m", "nr.employed", "y_n"]

In [324]:
from sklearn.model_selection import train_test_split

X = bank_df.drop("y_n", axis = 1)
y = bank_df["y_n"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 71)

X_train.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,job_n,marital_n,education_n,default_n,housing_n,loan_n,contact_n,month_n,day_of_week_n,poutcome_n
37079,53,management,married,unknown,no,yes,yes,telephone,jul,tue,...,6,0,5,0,1,1,0,2,1,0
245,33,services,divorced,unknown,no,no,no,telephone,may,mon,...,1,2,5,0,0,0,0,0,0,0
36379,43,admin.,married,university.degree,no,no,yes,cellular,jun,tue,...,2,0,6,0,0,1,1,1,1,0
38527,62,retired,married,high.school,no,no,no,cellular,oct,wed,...,5,0,1,0,0,0,1,4,2,2
525,47,admin.,single,unknown,unknown,yes,no,telephone,may,tue,...,2,1,5,1,1,0,0,0,1,0

In [325]:
X_test.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,job_n,marital_n,education_n,default_n,housing_n,loan_n,contact_n,month_n,day_of_week_n,poutcome_n
15697,55,blue-collar,married,basic.4y,unknown,yes,no,cellular,jul,mon,...,3,0,0,1,1,0,1,2,0,0
32778,28,technician,married,university.degree,no,no,no,cellular,may,mon,...,4,0,6,0,0,0,1,0,0,0
10099,35,blue-collar,married,basic.6y,no,yes,no,telephone,jun,thu,...,3,0,2,0,1,0,0,1,3,0
40636,26,admin.,single,university.degree,no,yes,no,cellular,sep,tue,...,2,1,6,0,1,0,1,9,1,0
11872,51,blue-collar,divorced,unknown,unknown,no,no,telephone,jun,fri,...,3,2,5,1,0,0,0,1,4,0

#### - Escalado de variables

In [326]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scal_features = scaler.fit_transform(bank_df[num_variables_n])
bank_df_scal = pd.DataFrame(scal_features, index = bank_df.index, columns = num_variables_n)
bank_df_scal.head()

,job_n,marital_n,education_n,default_n,housing_n,loan_n,contact_n,month_n,day_of_week_n,poutcome_n,...,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y_n
0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.053070,0.0,1.0,0.0,0.9375,0.698753,0.60251,0.957379,0.859735,0.0
1,0.090909,0.0,0.142857,0.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.030297,0.0,1.0,0.0,0.9375,0.698753,0.60251,0.957379,0.859735,0.0
2,0.090909,0.0,0.142857,0.0,0.5,0.0,0.0,0.0,0.0,0.0,...,0.045954,0.0,1.0,0.0,0.9375,0.698753,0.60251,0.957379,0.859735,0.0
3,0.181818,0.0,0.285714,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.030704,0.0,1.0,0.0,0.9375,0.698753,0.60251,0.957379,0.859735,0.0
4,0.090909,0.0,0.142857,0.0,0.0,0.5,0.0,0.0,0.0,0.0,...,0.062424,0.0,1.0,0.0,0.9375,0.698753,0.60251,0.957379,0.859735,0.0